{% extends 'base.html' %}

{% block content %}
<br>
<br>

<div class="col-lg-7 mx-auto shadow p-0" >
    <div class="p-6">
        <br>
        <br>
        <div class="alert alert-light" style="font-size: 30px;">
          <p > EASYGO is an Indian company of online travel and was founded by Dharmsinh Desai University Nadiad, STUDENTS in 2021.</p>
          <br>
          <p>The company provides services related to online travel booking and travel services such as domestic and international holiday packages and booking of buses, rails and flight tickets.</p>
          <br>
          <p>It has also acquired three companies in 2011 named as My Guest House Accommodation (New Delhi, India), Le Travenues Technology Private Limited (Gurgaon, India) and Luxury Tours and Travel Private Limited (Singapore).</p>
        </div>
        <br>
        <br>
    </div>
</div>


{% endblock %}